/* line 14, ../../_sass/abbasify-files/griding.scss */
.mobile-column-0 {
  width: 0%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.mobile-column-1 {
  width: 5%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.mobile-column-2 {
  width: 10%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.mobile-column-3 {
  width: 15%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.mobile-column-4 {
  width: 20%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.mobile-column-5 {
  width: 25%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.mobile-column-6 {
  width: 30%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.mobile-column-7 {
  width: 35%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.mobile-column-8 {
  width: 40%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.mobile-column-9 {
  width: 45%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.mobile-column-10 {
  width: 50%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.mobile-column-11 {
  width: 55%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.mobile-column-12 {
  width: 60%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.mobile-column-13 {
  width: 65%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.mobile-column-14 {
  width: 70%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.mobile-column-15 {
  width: 75%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.mobile-column-16 {
  width: 80%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.mobile-column-17 {
  width: 85%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.mobile-column-18 {
  width: 90%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.mobile-column-19 {
  width: 95%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.mobile-column-20 {
  width: 100%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.mobile-offset-0 {
  margin-left: 0%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.mobile-offset-1 {
  margin-left: 5%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.mobile-offset-2 {
  margin-left: 10%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.mobile-offset-3 {
  margin-left: 15%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.mobile-offset-4 {
  margin-left: 20%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.mobile-offset-5 {
  margin-left: 25%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.mobile-offset-6 {
  margin-left: 30%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.mobile-offset-7 {
  margin-left: 35%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.mobile-offset-8 {
  margin-left: 40%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.mobile-offset-9 {
  margin-left: 45%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.mobile-offset-10 {
  margin-left: 50%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.mobile-offset-11 {
  margin-left: 55%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.mobile-offset-12 {
  margin-left: 60%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.mobile-offset-13 {
  margin-left: 65%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.mobile-offset-14 {
  margin-left: 70%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.mobile-offset-15 {
  margin-left: 75%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.mobile-offset-16 {
  margin-left: 80%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.mobile-offset-17 {
  margin-left: 85%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.mobile-offset-18 {
  margin-left: 90%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.mobile-offset-19 {
  margin-left: 95%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.mobile-offset-20 {
  margin-left: 100%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.tablet-column-0 {
  width: 0%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.tablet-column-1 {
  width: 5%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.tablet-column-2 {
  width: 10%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.tablet-column-3 {
  width: 15%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.tablet-column-4 {
  width: 20%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.tablet-column-5 {
  width: 25%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.tablet-column-6 {
  width: 30%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.tablet-column-7 {
  width: 35%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.tablet-column-8 {
  width: 40%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.tablet-column-9 {
  width: 45%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.tablet-column-10 {
  width: 50%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.tablet-column-11 {
  width: 55%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.tablet-column-12 {
  width: 60%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.tablet-column-13 {
  width: 65%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.tablet-column-14 {
  width: 70%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.tablet-column-15 {
  width: 75%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.tablet-column-16 {
  width: 80%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.tablet-column-17 {
  width: 85%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.tablet-column-18 {
  width: 90%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.tablet-column-19 {
  width: 95%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.tablet-column-20 {
  width: 100%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.tablet-offset-0 {
  margin-left: 0%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.tablet-offset-1 {
  margin-left: 5%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.tablet-offset-2 {
  margin-left: 10%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.tablet-offset-3 {
  margin-left: 15%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.tablet-offset-4 {
  margin-left: 20%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.tablet-offset-5 {
  margin-left: 25%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.tablet-offset-6 {
  margin-left: 30%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.tablet-offset-7 {
  margin-left: 35%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.tablet-offset-8 {
  margin-left: 40%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.tablet-offset-9 {
  margin-left: 45%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.tablet-offset-10 {
  margin-left: 50%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.tablet-offset-11 {
  margin-left: 55%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.tablet-offset-12 {
  margin-left: 60%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.tablet-offset-13 {
  margin-left: 65%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.tablet-offset-14 {
  margin-left: 70%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.tablet-offset-15 {
  margin-left: 75%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.tablet-offset-16 {
  margin-left: 80%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.tablet-offset-17 {
  margin-left: 85%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.tablet-offset-18 {
  margin-left: 90%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.tablet-offset-19 {
  margin-left: 95%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.tablet-offset-20 {
  margin-left: 100%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.desktop-column-0 {
  width: 0%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.desktop-column-1 {
  width: 5%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.desktop-column-2 {
  width: 10%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.desktop-column-3 {
  width: 15%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.desktop-column-4 {
  width: 20%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.desktop-column-5 {
  width: 25%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.desktop-column-6 {
  width: 30%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.desktop-column-7 {
  width: 35%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.desktop-column-8 {
  width: 40%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.desktop-column-9 {
  width: 45%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.desktop-column-10 {
  width: 50%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.desktop-column-11 {
  width: 55%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.desktop-column-12 {
  width: 60%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.desktop-column-13 {
  width: 65%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.desktop-column-14 {
  width: 70%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.desktop-column-15 {
  width: 75%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.desktop-column-16 {
  width: 80%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.desktop-column-17 {
  width: 85%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.desktop-column-18 {
  width: 90%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.desktop-column-19 {
  width: 95%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.desktop-column-20 {
  width: 100%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.desktop-offset-0 {
  margin-left: 0%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.desktop-offset-1 {
  margin-left: 5%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.desktop-offset-2 {
  margin-left: 10%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.desktop-offset-3 {
  margin-left: 15%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.desktop-offset-4 {
  margin-left: 20%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.desktop-offset-5 {
  margin-left: 25%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.desktop-offset-6 {
  margin-left: 30%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.desktop-offset-7 {
  margin-left: 35%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.desktop-offset-8 {
  margin-left: 40%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.desktop-offset-9 {
  margin-left: 45%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.desktop-offset-10 {
  margin-left: 50%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.desktop-offset-11 {
  margin-left: 55%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.desktop-offset-12 {
  margin-left: 60%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.desktop-offset-13 {
  margin-left: 65%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.desktop-offset-14 {
  margin-left: 70%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.desktop-offset-15 {
  margin-left: 75%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.desktop-offset-16 {
  margin-left: 80%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.desktop-offset-17 {
  margin-left: 85%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.desktop-offset-18 {
  margin-left: 90%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.desktop-offset-19 {
  margin-left: 95%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.desktop-offset-20 {
  margin-left: 100%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.laptop-column-0 {
  width: 0%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.laptop-column-1 {
  width: 5%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.laptop-column-2 {
  width: 10%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.laptop-column-3 {
  width: 15%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.laptop-column-4 {
  width: 20%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.laptop-column-5 {
  width: 25%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.laptop-column-6 {
  width: 30%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.laptop-column-7 {
  width: 35%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.laptop-column-8 {
  width: 40%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.laptop-column-9 {
  width: 45%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.laptop-column-10 {
  width: 50%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.laptop-column-11 {
  width: 55%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.laptop-column-12 {
  width: 60%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.laptop-column-13 {
  width: 65%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.laptop-column-14 {
  width: 70%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.laptop-column-15 {
  width: 75%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.laptop-column-16 {
  width: 80%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.laptop-column-17 {
  width: 85%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.laptop-column-18 {
  width: 90%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.laptop-column-19 {
  width: 95%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.laptop-column-20 {
  width: 100%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.laptop-offset-0 {
  margin-left: 0%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.laptop-offset-1 {
  margin-left: 5%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.laptop-offset-2 {
  margin-left: 10%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.laptop-offset-3 {
  margin-left: 15%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.laptop-offset-4 {
  margin-left: 20%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.laptop-offset-5 {
  margin-left: 25%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.laptop-offset-6 {
  margin-left: 30%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.laptop-offset-7 {
  margin-left: 35%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.laptop-offset-8 {
  margin-left: 40%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.laptop-offset-9 {
  margin-left: 45%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.laptop-offset-10 {
  margin-left: 50%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.laptop-offset-11 {
  margin-left: 55%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.laptop-offset-12 {
  margin-left: 60%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.laptop-offset-13 {
  margin-left: 65%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.laptop-offset-14 {
  margin-left: 70%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.laptop-offset-15 {
  margin-left: 75%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.laptop-offset-16 {
  margin-left: 80%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.laptop-offset-17 {
  margin-left: 85%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.laptop-offset-18 {
  margin-left: 90%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.laptop-offset-19 {
  margin-left: 95%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.laptop-offset-20 {
  margin-left: 100%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.mac-column-0 {
  width: 0%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.mac-column-1 {
  width: 5%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.mac-column-2 {
  width: 10%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.mac-column-3 {
  width: 15%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.mac-column-4 {
  width: 20%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.mac-column-5 {
  width: 25%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.mac-column-6 {
  width: 30%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.mac-column-7 {
  width: 35%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.mac-column-8 {
  width: 40%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.mac-column-9 {
  width: 45%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.mac-column-10 {
  width: 50%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.mac-column-11 {
  width: 55%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.mac-column-12 {
  width: 60%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.mac-column-13 {
  width: 65%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.mac-column-14 {
  width: 70%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.mac-column-15 {
  width: 75%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.mac-column-16 {
  width: 80%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.mac-column-17 {
  width: 85%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.mac-column-18 {
  width: 90%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.mac-column-19 {
  width: 95%;
}

/* line 14, ../../_sass/abbasify-files/griding.scss */
.mac-column-20 {
  width: 100%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.mac-offset-0 {
  margin-left: 0%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.mac-offset-1 {
  margin-left: 5%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.mac-offset-2 {
  margin-left: 10%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.mac-offset-3 {
  margin-left: 15%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.mac-offset-4 {
  margin-left: 20%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.mac-offset-5 {
  margin-left: 25%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.mac-offset-6 {
  margin-left: 30%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.mac-offset-7 {
  margin-left: 35%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.mac-offset-8 {
  margin-left: 40%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.mac-offset-9 {
  margin-left: 45%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.mac-offset-10 {
  margin-left: 50%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.mac-offset-11 {
  margin-left: 55%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.mac-offset-12 {
  margin-left: 60%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.mac-offset-13 {
  margin-left: 65%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.mac-offset-14 {
  margin-left: 70%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.mac-offset-15 {
  margin-left: 75%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.mac-offset-16 {
  margin-left: 80%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.mac-offset-17 {
  margin-left: 85%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.mac-offset-18 {
  margin-left: 90%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.mac-offset-19 {
  margin-left: 95%;
}

/* line 22, ../../_sass/abbasify-files/griding.scss */
.mac-offset-20 {
  margin-left: 100%;
}

/* line 32, ../../_sass/abbasify-files/griding.scss */
[class*="offset-"] {
  position: relative;
}

/* line 33, ../../_sass/abbasify-files/griding.scss */
[class*="column-"] {
  min-height: 1px;
}

/* line 35, ../../_sass/abbasify-files/griding.scss */
.wrapper {
  display: block;
  position: relative;
  overflow: auto;
}
/* line 37, ../../_sass/abbasify-files/griding.scss */
.wrapper .inner {
  display: block;
  position: relative;
  width: 1100px;
  margin: auto;
  overflow: auto;
}
/* line 38, ../../_sass/abbasify-files/griding.scss */
.wrapper .inner-fluid {
  display: block;
  position: relative;
  overflow: auto;
}
/* line 39, ../../_sass/abbasify-files/griding.scss */
.wrapper.overflow-visible {
  overflow: visible !important;
}
/* line 41, ../../_sass/abbasify-files/griding.scss */
.wrapper.overflow-visible .inner, .wrapper.overflow-visible .inner-fluid {
  overflow: visible !important;
}

/* line 45, ../../_sass/abbasify-files/griding.scss */
.row-5-x {
  margin-left: -5px;
  margin-right: -5px;
}

/* line 46, ../../_sass/abbasify-files/griding.scss */
.row-10-x {
  margin-left: -10px;
  margin-right: -10px;
}

/* line 47, ../../_sass/abbasify-files/griding.scss */
.row-15-x {
  margin-left: -15px;
  margin-right: -15px;
}

/* line 48, ../../_sass/abbasify-files/griding.scss */
.row-20-x {
  margin-left: -20px;
  margin-right: -20px;
}

/*
Extra small devices (phones, less than 768px)  No media query since this is the default in Bootstrap 

Small devices (tablets, 768px and up)  @media (min-width: @screen-sm-min) { ... }

 Medium devices (desktops, 992px and up)  @media (min-width: @screen-md-min) { ... }

Large devices (large desktops, 1200px and up)  @media (min-width: @screen-lg-min) { ... }

*/
