
.dashboard-bed-box{
    
    @include makeMixin(transition-delay , 0s);
    @include makeMixin(transition , (bottom ease .5s , opacity ease 1s));
    
    &.ng-enter {
        bottom:30px;
        @include opacity(0);
        //@include makeMixin(transition , bottom ease .3s);
    }

    &.ng-enter-stagger {
        
        //@include makeMixin(transition-delay , 0s);
        //@include makeMixin(transition-duration , .3s);
    }

    &.ng-enter-active {
        bottom:0px;
        @include opacity(1);
    }
}
/*

.ng-enter {
opacity: 0.2 ;
padding-left: 30px ;
transition: all ease 250ms ;
}
 
.ng-enter-stagger {
transition-delay: 0.1s ;
-webkit-transition-delay: 0.1s ;
 
/*
FROM THE DOCUMENTATION:
In case the stagger doesn't work then these two values must be set
to 0 to avoid an accidental CSS inheritance.
*
transition-duration: 0s ;
-webkit-transition-duration: 0s ;
}
 
.ng-enter-active {
opacity: 1.0 ;
padding-left: 0px ;
}
*/