/***iPad in portrait***/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .dashboard-menu {
        ul {
            li {
                a {
                    padding: 20px 15px;
                }
            }
        }
    }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){
    .dashboard-bed-box.desktop-column-4{
        width: 25%;
    }
    .body-login{
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }
}