$white:#FFF;
$borderColor:#EEE;
$black:#000;
$facebook:#38599e;
$twitter:#01acee;
$youtube:#d62424;
$red:#D40505;
$green:#6ad969;
$blue:#74afff;
$lightBlue:#7fd3f2;
$orange:#f8a844;
$yellow:#ffe017;
$mainColor: #49982d;
$darkGray:#666;
$gray: #CCC;
$lightGray: #FDFDFD;
$voilet:#e46ae0;