.print-width-2{
    min-width: 250px;
    max-width: 250px;
}
.print-width-3{
    min-width: 500px;
    max-width: 500px;
}
.print-width-4{
    min-width: 30vh !important;
    max-width: 390px !important;
}
.font-size span{
    font-size:25px;
}
.eyesimg{
    margin-left:300px;
    margin-top: 50px;
    margin-bottom: 70px;
}
@media print {
    .eyesimg{
        width: 70%;
        height: 600px;
        margin-left: 16vh;
    }
    .font-size span{
        font-size:26px;
    }
    .print-padding{
        padding-left: 60px;
    }
}

